@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Scope+One&family=Shadows+Into+Light&display=swap');

body .qci-layout-bg {
    background-image: radial-gradient(#D48A00 1.5px, transparent 0) !important;
    background-size: 90px 90px !important;
    background-position: -20px -20px !important;
}