@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    font-family: 'Delius', cursive;
    background-color: #F7F6F0;
  }
}

@layer components {
  .font-delius {
    font-family: 'Delius', cursive;
  }
}

@layer utilities {
  .text-primary {
    @apply text-green-700;
  }

  .bg-primary {
    @apply bg-green-600;
  }

  .border-primary {
    @apply border-green-600;
  }

  .hover:text-primary:hover {
    @apply hover:text-green-800;
  }

  .hover:bg-primary:hover {
    @apply hover:bg-green-700;
  }
}

body .qci-layout-bg {
  /* background-image: radial-gradient(green 1.5px, transparent 0) !important; */
  background-size: 90px 90px !important;
  background-position: -20px -20px !important;
}

@font-face {
  font-family: 'Delius';
  font-style: normal;
  src: url('/fonts/Delius-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Delius Unicase';
  font-style: normal;
  src: url('/fonts/DeliusUnicase/Delius_Unicase-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Delius Unicase';
  font-style: bold;
  src: url('/fonts/DeliusUnicase/Delius_Unicase-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  src: url('/fonts/PoiretOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Scope One';
  font-style: normal;
  src: url('/fonts/ScopeOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  src: url('/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
}